---
// Component Imports
import MainLayout from '../layouts/MainLayout.astro';
import Sidebar from '../layouts/Sidebar.astro';


// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---
<MainLayout>
	<Sidebar slot="sidebar"/>
	<p>Home</p>
</MainLayout>

