---
// Component Imports
import Header from '../layouts/Header.astro';
import MainLayout from '../layouts/MainLayout.astro';
import Sidebar from '../layouts/Sidebar.astro';


// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---
<MainLayout>
	<Header slot="header" />
	<Sidebar slot="sidebar" />
	
	<!-- Content  -->
	<h4>Home</h4>
	<p>SSR POC using <a href='https://astro.build' target='_blank'>Astro</a></p>
	<p>Based Island architecture</p>

	<p>Astro is an HTML first web development server. HTML Pages are served from server</p>
	<p>Minimum JS is downloded for client side hydration</p>



</MainLayout>

